<div class="header_container">
  <div class="serch_bar">
    <%= form_with url: root_path, method: :get do |form| %>
      <%= form.text_field :search, placeholder:"buscar por:", class:'bar',
      pattern: "[a-zA-Z0-9\s]+" %>
      <%= form.submit 'Search', class:'serch' %>
    <% end %>
  </div>
  <div class="add_announce">
    <h2 class="label_announce">Add Announce</h2>
    <%= link_to new_cupon_path do %>
      <input class="add" type="button" value="+">
    <% end %>
  </div>
  <div class="buttons_container">
  <%= link_to user_session_path do %>
    <input class="login_header" type="button" value="Login"> 
  <% end %>
  <%= link_to new_user_registration_path do %>
    <input class="sign_up_header" type="button" value="Sing Up">
  <% end %>
  </div>
</div>
