<div>
  <%=  javascript_include_tag 'navbarService' %>

  <div id="mySidenavService" class="navbar__container">
    <a onclick="closeNav()"><%= image_tag("menuburger.svg", class:'navbar__logo__open')%></a>
    <%= image_tag("logo02.png", class:'navbar__logo')%>

    <div class='navbar__menu' >
      <%= link_to 'Home', root_path, class: 'navbar__menu__category'%>
      <%= link_to 'Categories', new_cupon_path, class: 'navbar__menu__category'%>
      <%= link_to 'Date', new_cupon_path, class: 'navbar__menu__category'%>
    </div>

    <div id='mainService' class="navbar__container__closed" onclick="openNav()">
      <%= image_tag("menuburger.svg", class:'navbar__logo__closed', id:'logoService')%>
    </div>

  </div>

</div>