<div>
  <%=  javascript_include_tag 'navbarService' %>

  <div id="mySidenavService" class="navbar__container">
    <a onclick="closeNav()"><%= image_tag("menuburger.svg", class:'navbar__logo__open')%></a>
    <%= image_tag("logo02.png", class:'navbar__logo')%>

    <div class='navbar__menu' >
      <%= link_to 'Home', root_path(:cupon => true, :home => true), class: 'navbar__menu__category' if current_user%>
      
      <%= form_with url: root_url, method: :get do | form | %>
      <div class= 'navbar__menu__category'>
        <div class = 'select'>
          Category
          <%= form.collection_select :category_id, Category.all, :id, :namecategory, class: 'list__category'%>
          <%= form.button type: "submit" do%>
            <%= image_tag("search.svg", class:'logo__search')%>
          <% end %>
        </div>
      </div>
      <% end %>

      <%= link_to 'Usuarios', root_path(users: true), class: 'navbar__menu__category'%>
      
    </div>

    <div id='mainService' class="navbar__container__closed" onclick="openNav()">
      <%= image_tag("menuburger.svg", class:'navbar__logo__closed', id:'logoService')%>
    </div>
  </div>

</div>

