<div>
  <%=  javascript_include_tag 'navbarService' %>

  <div id="mySidenavService" class="navbar__container">
    <a onclick="closeNav()"><%= image_tag("menuburger.svg", class:'navbar__logo__open')%></a>
    <%= image_tag("logo02.png", class:'navbar__logo')%>

    <div class='navbar__menu' >
      <%= link_to 'Home', root_path(:cupon => true, :home => true), class: 'navbar__menu__category' if current_user%>
      <p class= 'navbar__menu__category'>Categories</p>

      <%= form_with url: root_url, method: :get do | form | %>
      <%= form.collection_select :category_id, Category.all, :id, :namecategory %>
      <%= link_to 'Date', new_cupon_path, class: 'navbar__menu__category'%>
      <% end %>

    </div>

    <div id='mainService' class="navbar__container__closed" onclick="openNav()">
      <%= image_tag("menuburger.svg", class:'navbar__logo__closed', id:'logoService')%>
    </div>
  </div>

</div>

