<div class="add_cupons_title">cupons form</div>

<div class="container">
	<div class="add_cupons_detalles_generales">
				<h3 class='add_cupons_subtitle'>Detalles de generales</h3>
		<div class="add_cupons_detalles_generales_form">
				<%= form_for :cupon do |form| %>
			<div class="add_cupons_detalles_generales_content">
					<%= form.label 'Enlace de la oferta' %>
					<%= form.url_field :link, class:'add_cupons_detalles_generales_content_link' %>
			</div>

			<div class="add_cupons_detalles_generales_content">
					<%= form.label 'Titulo' %>
					<%= form.text_field :titulo, class:'add_cupons_detalles_generales_content_titulo' %>
			</div>

			<div class="add_cupons_detalles_generales_content">
				<%= form.label 'Descripción' %>
				<%= form.text_area :descripcion, class:'add_cupons_detalles_generales_content_descripcion' %>
			</div>

			<div class="add_cupons_detalles_generales_content">
				<%= form.label 'Ciudad' %>
				<%= form.text_field :ciudad, placeholder: 'https://', class:'add_cupons_detalles_generales_content_ciudad'  %>
			</div>

			<div class="add_cupons_detalles_generales_content">
				<%= form.label 'Link de imagen' %>
				<%= form.text_field :url_image, class:'add_cupons_detalles_generales_content_imagen' %>
			</div>

			<div class="add_cupons_detalles_generales_tipo">
				<%= form.label 'Tipo de publicación' %>

				<div class="add_cupons_detalles_generales_tipo_options">
					<div>
						<%= form.radio_button :type, 'Cupon', class: 'add_cupons_detalles_generales_tipo_options_values' %>
						<%= form.label :type_cupon, "Cupon" %>
					</div>

					<div>
						<%= form.radio_button :type, 'Oferta', class: 'add_cupons_detalles_generales_tipo_options_values' %>
						<%= form.label :type_oferta, "Oferta" %>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class='add_cupons_container2'>
			<div class="add_cupons_detalles_precio">
				<h3 class='add_cupons_subtitle'>Detalles de precio</h3>
				
					<div class='add_cupons_detalles_precios'>
						<%= form.label 'Precio con oferta (Opcional)' %>
						<%= form.number_field :precio_oferta, step: 0.5, class: 'add_cupons_detalles_precios_input', placeholder: '$' %>
					</div>
			
					<div class='add_cupons_detalles_precios'>
						<%= form.label 'Precio regular (Opcional)' %>
						<%= form.number_field :precio_regular, step: 0.5, class: 'add_cupons_detalles_precios_input', placeholder: '$'%>
					</div>

					<div class='add_cupons_detalles_cupon'>
						<%= form.label 'Cupón(opcional)' %>
						<%= form.url_field :cupon, class:'input_border-color',placeholder: 'Codigo para optener el descuento' %>
					</div>
			</div>

			<div class='add_cupons_detalles_finales'>
					<h3 class='add_cupons_subtitle'>Detalles finales</h3>

					<div class='add_cupons_detalles_finales_content'>
						<div class='add_cupons_detalles_finales_fechas'>
							<%= form.label 'Fecha de inicio' %>
							<%= form.date_field :fecha_inicio, class:'add_cupons_detalles_finales_fechas_input' %>
						</div>

						<div class='add_cupons_detalles_finales_fechas'>
							<%= form.label 'Fecha que expira' %>
							<%= form.date_field :fecha_fin, class:'add_cupons_detalles_finales_fechas_input' %>
						</div>
					</div>

					<div class='add_cupons_detalles_finales_content'>
						<button class='add_cupons_detalles_finales_content_buttons' id='vista_previa'>Vista previa</button>
						<%= form.submit 'enviar la oferta', class:'add_cupons_detalles_finales_content_buttons' %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>