<div class='showCupons_container'>
  <div class='main_menu_left'><%= render 'share/menu'%></div>
  <div class='showCupons_content'>
    <div class='main_header_up'><%= render 'share/header'%></div>
    <div class='showCupons_content_detaills'>
      <div class='area'>
        <div class='area_image'><img src='<%= @cupon.image_url %>'/></div>
        <div class='area_map'><img src='https://www.justvehicle.solutions/wp-content/uploads/2019/05/Google-Maps-Tips.png'/></div>
      </div>
      <div class='area'>
        <div class='area_data'>
          <h2><%= @cupon.title %></h2>
          <mark>Vigente</mark>
          <p>Expiration date: <%= (@cupon.expiration_date.nil?) ? '' : @cupon.expiration_date.strftime("%A, %d de %B de %Y") %></p>

          <div class='area_data_container'>
            <div class='area_data_content'>
              <p><%= "- #{@cupon.discount_percentage} %" %></p>
              <p><%= (@cupon.normal_price.nil?) ? '' : "$ #{@cupon.normal_price}" %></p>
            </div>
            <button>ver</button>
          </div>
        </div>
        <div class='area_description'>
          <h3>Description:</h3>
          <p><%= @cupon.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>

