<span class="close">&times;</span>
<h2>Edit user: <%= @resource_name.name %></h2>
<div id="alert-container"></div>
<%= form_for(@resource_name, as: @resource_name, url: registration_path(@resource_name), html: { method: :put }) do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", 
    pattern: "[a-z0-9A-Z ÁáÉéÍíÓóÚú,.@]+", required: true %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "Name", 
    pattern: "[a-z0-9A-Z ÁáÉéÍíÓóÚú,.]+", required: true %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password",
    pattern: "[a-z0-9A-Z ÁáÉéÍíÓóÚú,.]+"%>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", 
    pattern: "[a-z0-9A-Z ÁáÉéÍíÓóÚú,.]+", required: true %>
  </div>
  <div class= buttonsContainer>
    <div class="actions">
       <%= f.submit "Update", onclick: "addH2()" %>
    </div>
<% end %>
      <%= button_to "Delete Count", registration_path(@resource_name), class: "btn-danger", method: :delete, onclick: "return confirm('Are you sure you want to delete your account?');" %>
    </div>
    <%= javascript_include_tag 'modalAlert' %>
    