<div class="container_recobery">
  <div class="form_box_recobery phone">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, data: { turbo: :false } }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field_recobery">
        <h2>Forgot your password?</h2>
        <%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "email", class: "holder_recobery" %>
      </div>

      <div class="actions_recobery">
        <%= f.submit "Send me reset password instructions" %>
      </div>
    <% end %>

    <div class="a_login_singup">
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
