<ul class="main_cupons_content_promotions">
  <% if @result.length == 0 %>
    <div class="noFound">
      <h2>Resultado no encontrado!! ¯\_(ツ)_/¯</h2>
      <h3>Favor de intentar con otro nombre.</h3>
    </div>
  <% else %>
    <% @result.each do |result| %>
      <li>
        <%if result.is_a? Cupon%>  
          <a href="<%= cupon_path(result.id) %>" class="link">
          <div class="box" >
            <%= if result.image_url == "" 
              image_tag "coupon_defaul.webp"
            else 
              image_tag result.image_url
            end
            %>
            <div class="information">
              <h3><%= result.title %></h3>
              <p><%= result.description %></p>
            </div>
          </a>
            <div class="coupon_opc">
              <%= (button_to "delete", {controller: :cupons, action: 'destroy', id: result.id }, method: :delete) if current_user && current_user.id == result.user_id %>
              <%= (link_to "Edit", edit_cupon_path(result)) if current_user && current_user.id == result.user_id %> 
            </div>
          </div>
        <%else%>
          <div class="users">
            <div class='users_box'>
              <div class="following">
                <%=
                  following = @followed.include? result.id if current_user 
                  
                  button_to (following) ? 'Siguiendo' : 'Seguir', {:controller => :mainpages, :action => 'update', :id => result.id, 
                  :search => params[:search], :home => params[:home], 
                  :following => params[:following], :users => params[:users] }, :method => :patch, 
                  class: (following) ? 'follow' : 'not_follow' if current_user 
                %>
                <%= image_tag 'following.svg', class: (following) ? 'following_svg follow' : 'following_svg not_follow' if current_user %>
              </div>
              <%= link_to root_path(home: true, cupon: true, user_id: result.id), 
                class:'users_card' do%>
                <%= image_tag "user.png"%>
                <div class="information">
                  <h3 class="<%= (result.name.length >= 12) ? 'name_long' : 'name_short' %>"><%= result.name %></h3>
                </div>
              <% end %>
            </div>
          </div>
        <%end%>
      </li>
    <%end%>
  <%end%>
</ul>
