<div class="home_container">
  <div class="home_content">
    <div class="home_content_user">
      <%= image_tag "user.png" %>
      <div class="edit">
        <a id="myBtn">
          <%= image_tag("engranaje.png") %>
        </a>
        <div id="myModal" class="modal">
            <div class="modal-content">
              <%= render 'devise/registrations/edit'%> 
              <%= javascript_include_tag 'modal_controller', 'modalClose' %>
            </div>
          </div>
        </div>
      <h2>
        <%= 
          if params[:user_id].nil?
            current_user.name
          else
            user = User.select(:name).find_by(id: params[:user_id].to_i)
            user.name
          end
        %>
      </h2>
    </div>
    <div class="home_content_buttons">
      <%= link_to 'Cupónes', root_path(home: true, cupon: true) if params[:user_id].nil? %>
      <%= link_to 'Usuarios Seguidos', root_path(home: true, following: true) if params[:user_id].nil? %>
    </div>
  </div>
</div>

