<div id="overlay"></div>
<div class='main_container'>
  <div class='main_menu_left'><%= render 'share/menu'%></div>
  <div class='main_content'>
    <div class='main_cupons_container'>
      <div class='main_cupons_grup'>
        <div class='main_header_up'><%= render 'share/header'%> </div>
        <% if params[:home] %>
          <div class='main_cupons_home'><%= render 'home'%></div>
        <% elsif (params[:search].nil? || params[:search] == '') && (params[:category_id].nil? || params[:category_id] == '') %>
          <div class='main_cupons_carrusel'><%= render 'carousel' if params[:users].nil? %></div>
        <% end %>
        <div class='main_cupons_content'>
          <% if @result.length == 0 %>
            <%= render 'noFound' %>
          <% else %>
            <%= render 'content'%>
            <div class='nav_cupons'>
              <%== pagy_nav(@pagy) if params[:search].nil?%>
            </div>
          <%end%>
        </div>
      </div>
      <% if current_user && current_user.email == Rails.application.credentials.mailer.public_username %>
        <div class='main_cupons_bar_right'><%= render 'category' %></div>
      <% end %>
    </div>
  </div> 
</div>

