<div class="container-main-category" style="overflow-y: scroll;">
  <div class="box-main-category">
    <p style="color: white"><%= notice %></p>
    <div class="title-main-category">
      <h1>Categories</h1>
    </div>
    <div class="list-main-category" id="categories">
      <% @categories.each do |category| %>
        <%= render category %>
        <p>
          <%= link_to "Edit", edit_category_path(category) %>
        </p>
        <div class="destroy-show-category">
          <%= button_to "Delete", category, method: :delete %>
        </div>
      <% end %>
    </div>
    <div class="link-main-category">
      <%= link_to "New category", new_category_path %>
    </div>
  </div>
</div>

